# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# OS Files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.bak
*.sav
*.old
~*
